/* /////////////////////////////////////////////////////////////////// */
/* ////////////////////////   GENERAL    //////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:hover{
  text-decoration: none;
  color: white;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Lato', sans-serif;
  color: black;
}

span{
  color: red;
}
.rosso{
  color: red;
}

.verde{
  color: green;
}
